@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<p>This is a final project for my 3rd year university C# course.</p>
<p>
    This app allows users to interact with a database
    and find people with similar interests using Tanimoto Coefficient, aka
    <a href="https://en.wikipedia.org/wiki/Jaccard_index" style="color: gray">Jaccard Index</a>)
</p>

